<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% capture page_title %}{{ title | strip_html | strip_newlines }}{% endcapture %}
<title>{% if page_title != "" %}{{ page_title | escape }} | {{ metadata.title | escape }}{% else %}{{ metadata.title | escape }}: {{ metadata.tagline | escape }}{% endif %}</title>

<meta name="description" content="{{ metadata.description }}" />
{% feed_meta %}
<link rel="stylesheet" href="{% webpack_path css %}" />
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<script src="{% webpack_path js %}" defer></script>

<!--- BIKES BIKES BIKES BIKES BIKES BIKES BIKES BIKES BIKES BIKES.
                                                      __
                                                    .'  `.
                                                   /      \
                     o                            /        |
                      8ooooooooo               __________  |
                        ``8'                  /.-------. \ |
                         |`                   ||      ` ` |<
                          `|___________________\\      |||| )
                          / _____________________\ ._._.'.'(
                         / |                     \\ ``--'
                        //|`                      \\
                       //  `|                      \\
                      //   |`                      . \
         .d888888b.  //     `|                   .'.'\\  .d888888b.
      o8Y'   .    `Y//      |`                  / /   \\Y'    .  .`Y8o
    oY'   .  .   . //Y8o     `|               .'.'  dY'\\  .  .     .`Yo
   dY  .     .    //   Yb    |`              / /   dY.  \\    .    .  .Yb
  dY .  .  . .  .//   . Yb    `|           .'.'   dY   . \\ . . . .     Yb
 oY.   . .   .  //  .    Yb   |`          / /    oY .    .\\  .  . .   . Yo
o8    .   .  . // .    .  8b   `| =.=   .'.'    o8     .   \\ . .   .     8o
8Y  .    . . .//__________Y8___|`_____ / /      8P  .     . \\.. .     .  Y8
8............@/__ ........ 8   .'.  ..`.'       8............\@)...........8
8    .   . (`-.__`--.__   d8  /. . |..  \       8     .  .  . . . .     .  8
8b    .    .(@   `--.__`--.__|....  .... |      8b.    .   .  .  .   .    d8
Y8 .    . .  `-._      `--.__|..   @     |      Y8   .  . . . . . . .  .  8Y
 Yb   .  .   .  .`-._   dP   |.... |.    |       Yb.     .    .    .     dP
  Yb.   .  . . . .   `-dP     \  . |... /         Yb .  .  .  .  .  .  .dP
   Yo. .     .    .  .oP `--.__`.__|__.'           Yo. .      .      ..oP
    `8o.  .  .  .  .o8'            |                `8o.  .   .   . .o8'
      `Y88booood888P'             =.=                 `Y88boooood888P'
          """"""                                          """""""
BIKES BIKES BIKES BIKES BIKES BIKES BIKES BIKES BIKES BIKES. ----->
